.Model-title-div {
    text-align: center;
    font-size: x-large;
}

.Model-title-div h1 {
    margin-bottom:  0;
}

.Model-title-div h3 {
    margin-top: 0;
}

.Parameter-paper {
    padding: 15px;
    margin: 15px;
}

.Parameter-grid {
    margin: 5px;
}
